In [2]:
"""1.Write a code to display sum and average of two numbers. 
The average should be displayed as a  whole number (no decimal places) after calculation. """

'Write a code to display sum and average of two numbers. \nThe average should be displayed as a  whole number (no decimal places) after calculation. '

In [3]:
vara=12
varb=20
sum=vara+varb
avg=sum//2
print(sum)
print(avg)

32
16

In [4]:
"""2.Write a program that prints out all the elements of the list (list of numbers)
that are less than 5"""

'Write a program that prints out all the elements of the list (list of numbers)\nthat are less than 5'

In [7]:
lista=[2,22.5,1,10,58]
for i in lista:
    if(i<5):
        print(i)

2
1

In [133]:
'''3.	Given a number check if it is even or odd, if it’s divisible by
ten then display a different message. '''


n=int(input())
if n%2==1:
    print('odd')
elif n%10==0:
    print("div by 10")
else:
    print("even")

220
div by 10

In [134]:
"""
4.	Write a program to calculate & display product of two integers. 
If the product is greater than 500 then display their sum. 
"""
a,b=4,500
prod=a*b
if(prod>500):
    sum=a+b
    print("sum= ",sum)
else:
    print("product= ",prod)

sum=  504

In [8]:
"""5.Given a starting number as 4 and ending number as 20, 
iterate over the range of numbers and print the sum of current number and previous number."""

'Given a starting number as 4 and ending number as 20, \niterate over the range of numbers and print the sum of current number and previous number.'

In [12]:
prev=0
for i in range(4,21):
    sum=i+prev
    print('sum of',i,'and',prev,'is',sum)
    prev=i

sum of 4 and 0 is 4
sum of 5 and 4 is 9
sum of 6 and 5 is 11
sum of 7 and 6 is 13
sum of 8 and 7 is 15
sum of 9 and 8 is 17
sum of 10 and 9 is 19
sum of 11 and 10 is 21
sum of 12 and 11 is 23
sum of 13 and 12 is 25
sum of 14 and 13 is 27
sum of 15 and 14 is 29
sum of 16 and 15 is 31
sum of 17 and 16 is 33
sum of 18 and 17 is 35
sum of 19 and 18 is 37
sum of 20 and 19 is 39

In [13]:
"""6.Write a Python program to test whether a passed letter is a vowel or not."""

'Write a Python program to test whether a passed letter is a vowel or not.'

In [18]:
v=input('Enter a letter: ')
v=v.lower()
print(v)
if(v=='a'or v=='e'or v=='i'or v=='o'or v=='u'):
    print ('vowel')
else:
    print('not a vowel')

Enter a letter: a
a
vowel

In [19]:
"""7.Given a string, display only those characters
which are present at the even index. """

'Given a string, display only those characters\nwhich are present at the even index. '

In [32]:
stra =input('enter string:')
for i in range(0,len(stra)):
    if i%2==0:
        print(stra[i])

enter string:hello
h
l
o

In [132]:
'''9.	Given a list of numbers, iterate it and print only those numbers which are divisible of 10'''


l=[24,100,54,50,20,98,330]
for i in l:
    if(i%10==0):
        print(i)

100
50
20
330

In [127]:
'''10.	Given a list of integers, find if the first & last elements of the list are same. '''

'10.\tGiven a list of integers, find if the first & last elements of the list are same. '

In [128]:
la=[10,34,12,78,12,89,10,9]
if(la[0]==la[-1]):
    print("first and last elements are same")
else:
    print("first and last element are not same")

first and last element are not same

In [31]:
"""Replace all spaces in a string with an underscore."""

'Replace all spaces in a string with an underscore.'

In [37]:
str='hello world program'
str=str.replace(' ','_')
print(str)

hello_world_program

In [39]:
"""Write a code to check if the given string is palindrome or not"""

'Write a code to check if the given string is palindrome or not'

In [51]:
str=input('Enter a string : ')
#str=str[len(str)::-1]
str=str[::-1]   #starts with end,goes till 0 with -1 step
print('Palindrome is :',str)

Enter a string : Malayalam
Palindrome is : malayalaM

In [52]:
"""Write a code to generate Fibonacci series till nth  number. """

'Write a code to generate Fibonacci series till nth  number. '

In [56]:
val=eval(input('Enter nth number : '))
a,b,c=0,1,1
print(a,b,end=' ')
while c<=val:
    print(c,end=' ')
    a,b=b,c
    c=a+b

Enter nth number : 5
0 1 1 2 3 5

In [57]:
'''14.	Given 2 strings, stra and strb, create a new string by appending strb in the middle of stra'''

'14.\tGiven 2 strings, stra and strb, create a new string by appending strb in the middle of stra'

In [62]:
stra=input('string 1: ')
strb=input('string 2: ')
la=len(stra)
l=la//2
stra1=stra[0:l]
stra2=stra[l:la]
strc=stra1+strb+stra2
print('MID : ',strc)

string 1: elephant
string 2: CAT
MID :  elepCAThant

In [63]:
'''15.	Write a code to print the following pattern using a loop:
1 
1	2
1	2	3
1	2	3	4
1	2	3	4	5
'''

'15.\tWrite a code to print the following pattern using a loop:\n1 \n1\t2\n1\t2\t3\n1\t2\t3\t4\n1\t2\t3\t4\t5\n'

In [71]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end='\t')
    print('\n')

1

1	2

1	2	3

1	2	3	4

1	2	3	4	5

In [72]:
'''16.	Given a huge string, display only the first 25% (aprox) of character. '''

'16.\tGiven a huge string, display only the first 25% (aprox) of character. '

In [74]:
str=input('Enter string : ')
l=len(str)
lnew=l//4
print(str[:lnew])

Enter string : greater good
gre

In [129]:
'''17.	Given a list of numbers, if the size of list is odd, then display the center most number.
If the size of list is even then display average of the two numbers ate the center.  '''

'17.\tGiven a list of numbers, if the size of list is odd, then display the center most number. If the size of list is even then display average of the two numbers ate the center.  '

In [130]:
l1=[12,34,50,10,12,45]
mid=len(l1)//2
if(len(l1)%2 != 0):
    print(l1[mid])
else:
    avg=(l1[mid]+l1[mid-1])/2
    print(avg)

30.0

In [76]:
'''18.	Take two lists and write a program that returns a list that contains only 
the elements that are common between the two lists (without duplicates). '''

'18.\tTake two lists and write a program that returns a list that contains only \nthe elements that are common between the two lists (without duplicates). '

In [83]:
l1=['red','green','blue','black','yellow']
l2=['black','green','pink','black','red','brown']
l=[]
for val1 in l1:
    if val1 in l2 and val1 not in l:
        l.append(val1)
print(l)

['red', 'green', 'black']

In [84]:
'''19.	Write a code to check if a given year is leap year or not. '''

'19.\tWrite a code to check if a given year is leap year or not. '

In [88]:
year = int(input("Enter a year: "))  
if(year%4==0):
    if(year%100==0):
        if(year%400==0):
            print("{0} is a leap year".format(year))
        else:
            print("{0} is not a leap year".format(year))
    else:
        print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year".format(year))

Enter a year: 1900
1900 is not a leap year

In [89]:
'''20.	Write a code to check if the given number is prime or not.'''

'20.\tWrite a code to check if the given number is prime or not.'

In [96]:
n=eval(input('Enter a no. : '))
if n>1:
    for i in range(2,n//2):
        if(n%i==0):
            print("not a prime no.")
            break
    else:
        print("it's a prime no.")

Enter a no. : 5
it's a prime no.

In [97]:
'''21.	Write a code to extract all values from a multi-level nested dictionary. 
It should work for any level and should display only values and not keys'''

'21.\tWrite a code to extract all values from a multi-level nested dictionary. \nIt should work for any level and should display only values and not keys'

In [112]:
d={1:'200',2:{3:'700'},4:'800'}
l=[]
for k, v in d.items():
    if isinstance(v, dict):
        v1=v.values()
        v1=list(v1)
        l.extend(v1)
    else:
        l.append(v)
print(l)

['200', '700', '800']

In [113]:
'''22.	Iterate over a list and count the occurrence of each element. 
Create a dictionary to show the count of each element'''

'22.\tIterate over a list and count the occurrence of each element. \nCreate a dictionary to show the count of each element'

In [117]:
l=[1,55,23,1,35,78,3,48,93,3,55,3]
d={}
for i in l:
    if(i not in d):
        d[i]=1
    else:
        d[i]+=1
        
print(d)

{1: 2, 55: 2, 23: 1, 35: 1, 78: 1, 3: 3, 48: 1, 93: 1}

In [118]:
l=[1,55,23,1,35,78,3,48,93,3,55,3]
d={}
for i in l:
    c=l.count(i)
    d[i]=c
print(d)

{1: 2, 55: 2, 23: 1, 35: 1, 78: 1, 3: 3, 48: 1, 93: 1}

In [119]:
'''23.	Given a list, remove all duplicates from it and create a tuple 
and find the minimum and maximum number'''

'23.\tGiven a list, remove all duplicates from it and create a tuple \nand find the minimum and maximum number'

In [121]:
l=[1,55,23,1,35,78,3,48,93,3,55,3]
s=set(l)
print(s)
t=tuple(s)
print(t)
print(max(t))
print(min(t))



'''
listb=[1,1,2,4,8,2,9,10]
listc=[]
for i in listb:
    if i not in listc:
        listc.append(i)
        
t=tuple(listc)
print("tuple without duplicate values: ", t)
print("max: ", max(t))
print("min: ", min(t))
'''

{1, 35, 3, 78, 48, 55, 23, 93}
(1, 35, 3, 78, 48, 55, 23, 93)
93
1

'\nlistb=[1,1,2,4,8,2,9,10]\nlistc=[]\nfor i in listb:\n    if i not in listc:\n        listc.append(i)\n        \nt=tuple(listc)\nprint("tuple without duplicate values: ", t)\nprint("max: ", max(t))\nprint("min: ", min(t))\n'

In [122]:
'''24.	A bank has options for recurring deposit with an yearly interest rate of 8% cumulatively.
Create a function which takes the deposit amount, and number of years (n) as an input. 
The function would return the amount cumulated at the end of ‘n’ years.  '''

'24.\tA bank has options for recurring deposit with an yearly interest rate of 8% cumulatively.\nCreate a function which takes the deposit amount, and number of years (n) as an input. \nThe function would return the amount cumulated at the end of ‘n’ years.  '

In [126]:
def calc(p,n):
    a=p*((1+8/100)**n)
    return a
print(calc(1000,2))

1166.4