In [4]:
a=102
print(a>>2)  #divide by 2*shift times
print(a<<1)  #multiply by 2*shift times

25
204

In [5]:
del a

In [10]:
#coversion

str='22.45'
print(type(str))
f=float(str)
print(type(f))

<class 'str'>
<class 'float'>

In [11]:
i=int(str[:2])
print(type(i),i)

<class 'int'> 22

In [12]:
s=list(str)
print(s)

['2', '2', '.', '4', '5']

In [20]:
print="hi"
print

'hi'

In [21]:
del print

In [15]:
__builtins__.print("hi")

hi

In [17]:
print("hi")

hi

In [18]:
number1 = input("First number: ") 
number2 = input("\nSecond number: ") 
  
# Adding two numbers 
# User might also enter float numbers 
sum = float(number1) + float(number2) 
  
# Display the sum 
# will print value in float 
print("The sum of {0} and {1} is {2}" .format(number1, number2, sum))

First number: 22222

Second number: 11
The sum of 22222 and 11 is 22233.0